@import "@style/theme.less";
@import "@style/common.less";

.dashboard-page {
  color: @c-3F3B53;
  .flex-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 240px;
    height: 100%;
    background: @c-FFFFFF;
    padding: 0 10px 10px;
    .flex-columns;
    overflow: hidden;
    .left-head, .left-footer {
      flex-shrink: 0;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .left-head {
      height: 53px;
      color: @c-3F3B53;
    }
    .left-content {
      flex-grow: 1;
      overflow: auto;
      height: 100%;
      .group-item {
        white-space: nowrap;
        //分组 和 看板公共属性
        .group-title, .dashboard-item {
          cursor: pointer;
          position: relative;
          min-height: 1px;
          border-radius: 3px;
        }
        .group-title {
          padding: 0 23px;
          color: @c-666081;
          .arrow {
            position: absolute;
            top: 7px;
            left: 8px;
            font-size: 12px;
          }
          .arrow-active {
            transform: rotate(90deg);
          }
          .more-box {
            padding: 0 10px;
            position: absolute;
            top: 7px;
            right: 10px;
          }
          .more {
            font-size: 12px;
            display: block;
          }
          &:hover .more {
            display: block;
          }
          .name {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            display: block;
            line-height: 28px;
            height: 28px;
          }
        }
        .dashboard-list {
          .dashboard-init {
            background: #f0f6fc;
          }
          .dashboard-item {
            line-height: 32px;
            height: 32px;
            padding: 0 24px;
            color: @c-3F3B53;

            &:hover {
              background: @c-5236C9-3;
            }
          }
        }
      }
    }
    .left-footer {
      height: 48px;
      background: #ffffff;
      border: 1px solid #f5f4f8;
      border-radius: 6px;
      color: @c-666081;
      padding: 14px 10px;
    }
  }

  .flex-right {
    height: 100%;
    margin-left: 240px;
    padding: 20px;
  }
}
